.env
onlyoffice/.env
node_modules/
__pycache__/
*.pyc
.venv/
venv/
cert-fields.json
postman/ONR-Homologacao.postman_environment.json
postman/Auth-ONR-n8n.postman_environment.json
postman/ONR-Login-Pronto.postman_collection.json
postman/.postman-sync.json
postman/.postman-sync-ccn.json
postman/.postman-sync-censec.json
postman/.postman-sync-doi.json
postman/.postman-sync-sigef.json
postman/.postman-sync-cra.json
postman/onr-webservice-n8n.postman_environment.json
postman/n8n-orius.postman_environment.json
postman/Parse-Memorial-SIGEF-n8n.postman_environment.json
postman/censec-n8n.postman_environment.json
